* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Sans-serif;
}

html,
body {
  height: fit-content;
  overflow-x: hidden;
  padding: 0px !important;
}

/* Navbar and Footer Start */

.navbar {
  height: 60px;
  background-color: white;
}

.navbar .navbar-brand img {
  width: 80px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  opacity: 0.8;
}

.navbar-nav {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar .nav-link {
  color: #525252;
  font-size: 16px;
  font-weight: 600;
}

.navbar .highlighter>a,
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  background-color: #0077b5;
  color: white !important;
}

.navbar .highlight {
  background-color: #0077b5;
  color: white !important;
}

.navbar .dropdown-item:hover {
  background-color: #0077b5;
  color: white;
}

.navbar .dropdown-toggle::after {
  display: none;
}

.navbar .dropdown-menu[data-bs-popper] {
  margin-top: 0px;
}

.footer {
  background-image: url(../img/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .icon {
  display: flex;
  justify-content: end;
  mix-blend-mode: screen;
}

.foot {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.foot ul {
  list-style: none;
  padding: 0px;
}

.foot h2 {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.foot a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.foot a:hover {
  color: #fff;
}

.foot i {
  color: lightgray;
  font-size: 25px;
  padding: 0px;
  padding-right: 10px;
}

.footer .links a {
  text-decoration: none;
  margin-right: 10px;
  color: #121212;
  font-size: 14px;
  font-weight: 600;
}

.footer hr {
  border-top: 3px solid;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.footer p {
  color: #393040;
  font-size: 14px;
  font-weight: 600;
}

.footer .input-group input:focus {
  box-shadow: none;
  outline: none;
}

.footer .input-group input {
  background-color: #A9A7E7;
  border-color: #A9A7E7;
}

.footer .input-group input,
.footer .input-group .btn {
  padding: 10px;
  border-radius: 10px;
}

.footer .input-group .btn {
  background-color: #3F3E3E;
  border-color: #3F3E3E;
}

.footer .form-control::placeholder {
  color: #525252;
  opacity: 1;
  font-size: 15px;
  font-weight: 600;
}

@media (max-width: 1199.98px) {
  .footer {
    background-image: none;
    background: linear-gradient(0deg, #8093FA 17.13%, #5B66A1 116.28%);
  }

  .footer .icon {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-brand {
    margin-left: 10px;
  }

  .navbar {
    padding: 0px !important;
  }

  .navbar .navbar-nav {
    background-color: white;
    width: 100%;
    margin-top: 0px !important;
    position: sticky;
    z-index: 999;
  }

  .navbar .navbar-toggler {
    border: none;
  }

  .navbar .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar .highlighter>a,
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    background-color: white;
    color: #0077b5 !important;
  }

  .navbar .highlight {
    background-color: white;
    color: #0077b5 !important;
  }

  .navbar .dropdown-item:hover {
    background-color: white;
    color: #0077b5;
  }

  .navbar .show {
    text-align: center;
  }

  .navbar .dropdown-menu {
    border: none;
  }

  .foot {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 767.98px) {
  .foot {
    grid-template-columns: auto;
  }

  .footer .links {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
}

/* Footer and navbar End */

/* Homepage start */
.home .bg-1 {
  height: 35rem;
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.home .section1 h2 {
  color: black;
  font-size: 24px;
  font-weight: 600;
}

.home .section1 h1 {
  font-weight: 800;
  font-size: 32px;
  color: #FFF;
  font-style: italic;
}

.home .section1 h1 span {
  color: #0400BC;
}

.home .section1 p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.home .section1 .btn {
  font-weight: 600;
  border-radius: 30px;
  background-color: #3F3BF8;
  border: none;
}

.home .section1 .btn:hover,
.home .section1 .btn:focus {
  opacity: 0.8;
}

.home .section1 .banner-img {
  border-radius: 10px;
  max-width: 450px;
}

.home .banner-img {
  animation-name: bouncer;
  display: flex;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bouncer {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

.home .bg-2 {
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .section2 .line,
.home .section3 .line,
.home .section4 .line {
  padding-bottom: 1rem;
  border-image: linear-gradient(to right, #504DFF, #fff6f6) 1 !important;
  border-bottom: 3px solid;
}

.home .section2 h2,
.home .section3 h2,
.home .section4 h2,
.home .section5 h2,
.home .section6 h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #000;
}

.home .section2 p,
.home .section3 p,
.home .section4 p {
  color: #3F3F3F;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.home .section2 .banner,
.home .section3 .banner,
.home .section4 .banner {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.home .section3 .text img,
.home .section4 .text img {
  width: 50px;
  object-fit: contain;
}

.home .section3 .vertical-center,
.home .section4 .vertical-center {
  display: flex;
  align-items: center;
  gap: 30px;
}

.home .bg-3 {
  position: relative;
}

.home .bg-3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(180deg, rgba(92, 117, 248, 0.95) 0%, rgba(0, 28, 173, 0.00) 165.75%);
  border-radius: 0 0 80% 0px;
  transform: scaleX(1.2);
  z-index: -1;
}

.home .section5 h2 span,
.home .section6 h2 span {
  color: #0036FF;
}

.home .section5 img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.home .section5 p,
.home .section6 p {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.home .section5 h3,
.home .section6 h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.home .section6 .package {
  width: 80px;
}

.home .section6 .buttons .active {
  background-color: #0036FF;
}

.home .section6 .section-btn {
  background-color: #556DE9;
  color: #FFF;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  width: 180px;
}

.home .section6 .section-btn:hover {
  opacity: 0.9;
}

.home .section6 .package-txt {
  background: linear-gradient(180deg, rgba(92, 117, 248, 0.95) 0%, rgb(255, 255, 255) 165.75%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px 10px;
  height: 500px;
}











.home .section6 .package-txt {
    position: relative;
    overflow: hidden;
    max-height: 500px; /* Adjust the maximum height as needed */
  }

  .home .section6 .scrollable-list {
    overflow-y: auto;
    max-height: 100%; /* Occupy the full height of the .package-txt container */
  }

  .home .section6 .scrollable-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .home .section6 .scrollable-list ul li {
    margin-bottom: 10px; /* Adjust the margin as needed */
  }

  /* Customize scrollbar appearance (Webkit browsers) */
  .home .section6 .scrollable-list::-webkit-scrollbar {
    width: 12px;
  }

  .home .section6 .scrollable-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }

  .home .section6 .scrollable-list::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  .home .section6 .fixed-button {
    margin-top: auto; /* Push the button to the bottom */
    display: block;
    width: 100%;
  }

.home .section6 .package-txt h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.home .section6 .underlined-heading,
.home .section6 .underlined-heading-2 {
  position: relative;
  display: inline-block;
}

.home .section6 .underlined-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 2px;
  background-color: #000;
}

.home .section6 .price h1{
  color: #fff;
  font-size: 28px;
}

.home .section6 .price .crossed{
  text-decoration: line-through;
  font-size: 25px;
  color: #B9B9B9;
}

.home .section6 .underlined-heading-2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1.5px;
  opacity: 0.3;
  background-color: #535353;
}

.home .section6 h3{
  font-size: 18px;
}

.home .section6 li{
  font-size: 16px;
}

.home .section6 li::marker {
  font-size: 0.8em;
}

@media (max-width: 991.98px) {
  .home .bg-1 {
    height: 30rem;
  }

  .home .section1 .banner-img {
    max-width: 300px;
  }

  .home .bg-2 {
    background-image: none;
  }

}

@media (max-width: 767.98px) {
  .home .bg-1 {
    padding-block: 10%;
    height: fit-content;
  }

  .home .section1 h2 {
    font-size: 20px;
    text-align: center;
  }

  .home .section1 h1 {
    font-size: 25px;
    text-align: center;
  }

  .home .section1 p {
    font-size: 14px;
    text-align: center;
  }

  .home .section1 .btn-center {
    text-align: center;
    margin-bottom: 20px;
  }

  .home .section1 .banner-img {
    max-width: 300px;
  }

  .home .section2 .line,
  .home .section3 .line,
  .home .section4 .line {
    margin-left: 10%;
    margin-right: 10%;
  }

  .home .section2 h2,
  .home .section3 h2,
  .home .section4 h2,
  .home .section5 h2,
  .home .section6 h2 {
    font-size: 20px;
    text-align: center;
  }

  .home .section2 p,
  .home .section3 p,
  .home .section4 p {
    font-size: 14px;
  }

  .home .section2 .banner,
  .home .section3 .banner,
  .home .section4 .banner {
    width: 500px;
  }

  .home .section3 .vertical-center,
  .home .section4 .vertical-center {
    gap: 15px;
  }

  .home .bg-3 {
    position: fixed;
  }

  .home .section5 img {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
  }

  .home .section5 .rows-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .home .section5 p,
  .home .section6 p {
    font-size: 14px;
  }

  .home .section5 h3,
  .home .section6 h3 {
    font-size: 16px;
  }
}

/* Homepage End */

/* Common Banner start */
#banner .bg-1 {
  height: 35rem;
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

#banner h2 {
  color: #FFF;
  font-size: 50px;
  font-weight: 600;
  mix-blend-mode: hard-light;
}

#banner .pics img {
  aspect-ratio: 2/2;
  object-fit: contain;
  width: 350px;
  mix-blend-mode: multiply;
  opacity: 0.9;
  position: absolute;
}

#banner .pics img:first-of-type {
  top: 15%;
  left: 5%;
}

#banner .pics img:nth-of-type(2) {
  top: 15%;
  right: 5%;
}

#banner .pics img {
  animation-name: bouncers;
  display: flex;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bouncers {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 991.98px) {

  #banner .bg-1 {
    height: 30rem;
  }

  #banner .pics img {
    width: 300px;
  }

  #banner .pics img:first-of-type {
    left: 0%;
  }

  #banner .pics img:nth-of-type(2) {
    right: 0%;
  }
}

@media (max-width: 767.98px) {
  #banner .bg-1 {
    background-image: none;
    background: linear-gradient(0deg, #a6b3f9 0%, #5570ff 100%);
  }

  #banner .pics img {
    width: 100%;
  }

  #banner .pics img:nth-of-type(2) {
    display: none;
  }

  #banner h2 {
    font-size: 40px;
  }

  #banner .pics img {
    animation-delay: 0s;
  }

  #banner .pics img:first-of-type {
    top: 5%;
    left: 0%;
    transform: translate(-50%, -50%);
  }


}

/* Common banner End */

/* Services Web Development start */
.services-web-dev .section2 .line,
.services-web-dev .section3 .line {
  padding-bottom: 1rem;
  border-image: linear-gradient(to right, #504DFF, #fff6f6) 1 !important;
  border-bottom: 3px solid;
}

.services-web-dev .section2 h2,
.services-web-dev .section3 h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #000;
}

.services-web-dev .section2 p,
.services-web-dev .section3 p {
  color: #3F3F3F;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.services-web-dev .section2 .banner,
.services-web-dev .section3 .banner {
  width: 600px;
  height: 400px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

@media (max-width: 991.98px) {

  .services-web-dev .section2 h2,
  .services-web-dev .section3 h2 {
    font-size: 20px;
  }

  .services-web-dev .section2 p,
  .services-web-dev .section3 p {
    font-size: 14px;
  }

  .services-web-dev .section2 .banner,
  .services-web-dev .section3 .banner {
    width: 100%;
    height: 100%;
  }

  .services-web-dev .section3 .btn {
    font-size: 14px;
  }
}

/* Services Web Development End */

/* Services Mobile app Development start */
.services-app-dev .section2 .line,
.services-app-dev .section3 .line {
  padding-bottom: 1rem;
  border-image: linear-gradient(to right, #504DFF, #fff6f6) 1 !important;
  border-bottom: 3px solid;
}

.services-app-dev .section2 h2,
.services-app-dev .section3 h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #000;
}

.services-app-dev .section2 p,
.services-app-dev .section3 p {
  color: #3F3F3F;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.services-app-dev .section2 .banner,
.services-app-dev .section3 .banner {
  width: 600px;
  height: 400px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

@media (max-width: 991.98px) {

  .services-app-dev .section2 h2,
  .services-app-dev .section3 h2 {
    font-size: 20px;
  }

  .services-app-dev .section2 p,
  .services-app-dev .section3 p {
    font-size: 14px;
  }

  .services-app-dev .section2 .banner,
  .services-app-dev .section3 .banner {
    width: 100%;
    height: 100%;
  }

  .services-app-dev .section3 .btn {
    font-size: 14px;
  }
}

/* Services Mobile app Development End*/

/* Services Graphic Design Start*/
.services-graphic .section2 .line,
.services-graphic .section3 .line {
  padding-bottom: 1rem;
  border-image: linear-gradient(to right, #504DFF, #fff6f6) 1 !important;
  border-bottom: 3px solid;
}

.services-graphic .section2 h2,
.services-graphic .section3 h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #000;
}

.services-graphic .section2 p,
.services-graphic .section3 p {
  color: #3F3F3F;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.services-graphic .section2 .banner,
.services-graphic .section3 .banner {
  width: 600px;
  height: 400px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

@media (max-width: 991.98px) {

  .services-graphic .section2 h2,
  .services-graphic .section3 h2 {
    font-size: 20px;
  }

  .services-graphic .section2 p,
  .services-graphic .section3 p {
    font-size: 14px;
  }

  .services-graphic .section2 .banner,
  .services-graphic .section3 .banner {
    width: 100%;
    height: 100%;
  }

  .services-graphic .section3 .btn {
    font-size: 14px;
  }
}

/* Services Graphic Design End*/

/* About us Start*/
.about-us .section2 .line,
.about-us .section3 .line {
  padding-bottom: 1rem;
  border-image: linear-gradient(to right, #504DFF, #fff6f6) 1 !important;
  border-bottom: 3px solid;
}

.about-us .section2 h2,
.about-us .section3 h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #000;
}

.about-us .section2 p,
.about-us .section3 p {
  color: #3F3F3F;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.about-us .section2 .banner,
.about-us .section3 .banner {
  width: 600px;
  height: 400px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.about-us .section3 li {
  list-style: none;
  background-image: url(../img/tick.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 0% 50%;
  padding-left: 16%;
  font-size: 16px;
}

@media (max-width: 991.98px) {

  .about-us .section2 h2,
  .about-us .section3 h2 {
    font-size: 20px;
  }

  .about-us .section2 p,
  .about-us .section3 p {
    font-size: 14px;
  }

  .about-us .section2 .banner,
  .about-us .section3 .banner {
    width: 100%;
    height: 100%;
  }

  .about-us .section3 li {
    background-size: 20px;
    padding-left: 10%;
    font-size: 18px;
  }
}

/* About us End*/
/* Our work web dev Start*/

.work-web-dev .section2 p {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
}

.work-web-dev .gy-5 {
  --bs-gutter-y: 4rem;
}

.work-web-dev .modal {
  margin: 0px;
  padding: 0px;
}

.work-web-dev .image-wrap {
  padding: 10px;
  height: 500px;
  overflow: hidden;
}

.work-web-dev .image-wrap img {
  border-radius: 30px;
  padding: 10px;
  background-color: rgb(233, 239, 255, 0.1);
  border: 1px solid rgba(92, 117, 248, 0.5);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 5s ease-in-out;
  box-shadow: -1px -2px 15px -3px rgb(0 0 0/16%);
}

.work-web-dev .image-wrap:hover img {
  object-position: bottom center;
}

.work-web-dev .btn-modal {
  display: flex;
  margin-right: 5%;
  position: absolute;
  right: 0;
  z-index: 2;
}

.work-web-dev .btn-close {
  font-size: 20px;
}

.work-web-dev .btn-close:focus {
  outline: none;
  box-shadow: none;
}

.work-web-dev .btn-close:not(:last-of-type) {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (max-width: 991.98px) {

  .work-web-dev .section2 p {
    font-size: 18px;
  }

  .work-web-dev .gy-5 {
    --bs-gutter-y: 1.5rem;
  }

  .work-web-dev .image-wrap {
    padding: 15px;
    height: 600px;
  }

  .work-web-dev .image-wrap img {
    padding: 15px;
  }
}

/* Our work web dev End*/
/* Our work mobile dev Start*/
.work-mob-dev .section2 p {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
}

.work-mob-dev .modal {
  margin: 0px;
  padding: 0px;
}

.work-mob-dev .image-wrap {
  height: auto;
  overflow: hidden;
}

.work-mob-dev .image-wrap img {
  padding: 10px;
  background-color: rgb(233, 239, 255, 0.1);
  border: 1px solid rgba(92, 117, 248, 0.1);
  width: 100%;
  height: auto;
  box-shadow: -1px -2px 15px -3px rgb(0 0 0/16%);
}

.work-mob-dev .btn-modal {
  display: flex;
  margin-right: 5%;
  position: absolute;
  right: 0;
  z-index: 2;
}

.work-mob-dev .btn-close {
  font-size: 20px;
}

.work-mob-dev .btn-close:focus {
  outline: none;
  box-shadow: none;
}

.work-mob-dev .btn-close:not(:last-of-type) {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.work-mob-dev .image-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991.98px) {

  .work-mob-dev .section2 p {
    font-size: 18px;
  }

  .work-mob-dev .gy-5 {
    --bs-gutter-y: 1.5rem;
  }

  .work-mob-dev .image-wrap {
    padding: 15px;
    height: 100%;
  }

  .work-web-dev .image-wrap img {
    padding: 15px;
  }
}

/* Our work mobile dev End*/
/* Our work graphic Start*/
.work-graphic .section2 p {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
}

.work-graphic .modal {
  margin: 0px;
  padding: 0px;
}

.work-graphic .image-wrap {
  height: auto;
  overflow: hidden;
}

.work-graphic .image-wrap img {
  padding: 10px;
  background-color: rgb(233, 239, 255, 0.1);
  border: 1px solid rgba(92, 117, 248, 0.1);
  background-color: #fff6f6;
  width: 100%;
  height: 100%;
  box-shadow: -1px -2px 15px -3px rgb(0 0 0/16%);
}

.work-graphic .btn-modal {
  display: flex;
  margin-right: 5%;
  position: absolute;
  right: 0;
  z-index: 2;
}

.work-graphic .btn-close {
  font-size: 20px;
}

.work-graphic .btn-close:focus {
  outline: none;
  box-shadow: none;
}

.work-graphic .btn-close:not(:last-of-type) {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.work-graphic .image-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991.98px) {

  .work-graphic .section2 p {
    font-size: 18px;
  }

  .work-graphic .gy-5 {
    --bs-gutter-y: 1.5rem;
  }

  .work-graphic .image-wrap {
    padding: 15px;
    height: 100%;
  }

  .work-graphic .image-wrap img {
    padding: 15px;
  }
}

/* Our work graphic End*/

/* Contact Us End*/
.contact-us .section2 .line {
  padding-bottom: 1rem;
  border-bottom: 5px solid #504DFF;
}

.contact-us .section2 h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.contact-us .section2 .form-control {
  border-radius: 10px;
  padding: 10px;
  background: #F2F2F2;
  box-shadow: -1px -2px 15px -3px rgb(0 0 0/16%);
  font-size: 16px;
  font-weight: 500;
}

.contact-us .section2 textarea {
  resize: none;
}

.contact-us .section2 .btn {
  display: block;
  padding: 10px;
  width: 100%;
  box-shadow: -1px -2px 15px -3px rgb(0 0 0/16%);
}

.contact-us .section3 .carousel-inner {
  height: 22rem;
}

.contact-us .section3 .carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.contact-us .section3 .carousel-inner .row {
  justify-content: center;
  align-items: center;
}

.contact-us .section3 .carousel-inner h2 {
  font-weight: 600;
}

.contact-us .section3 .carousel-inner p {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
}

.contact-us .section3 .carousel-inner h3 {
  font-weight: 500;
  font-size: 18px;
}

.contact-us .section3 .carousel-inner h4 {
  font-weight: 800;
  font-size: 16px;
  color: #0036FF;
}

.contact-us .section3 .carousel-inner strong {
  color: #0400BC;
  font-weight: 800;
}

.contact-us .section3 .carousel-indicators .btns {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: initial;
  margin: 0px 10px;
  background-color: blueviolet;
}

.contact-us .section3 .carousel-indicators {
  position: initial;
  margin: 0px;
}

.contact-us .section3 .carousel-indicators .btns.active {
  background-color: #0400BC;
}

.contact-us .section3 .carousel-control-next,
.contact-us .section3 .carousel-control-prev {
  position: initial;
  margin: 0px;
  width: auto;
}

.contact-us .section3 .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(128, 128, 128)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.contact-us .section3 .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(128, 128, 128)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.contact-us .hover-button {
  position: relative;
  overflow: hidden;
  transition: background ease 0.5s;
}

.contact-us .hover-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 50%;
  background: #000000;
  transform: translateX(-50%);
  transition: width ease 0.5s;
  z-index: -1;
}

.contact-us .hover-button:hover {
  background: transparent;
  color: white;
  border: 1px solid #000000;
}

.contact-us .hover-button:hover::before {
  width: 100%;
}

@media (max-width: 991.98px) {

  .contact-us .section2 h2 {
    font-size: 16px;
  }

  .contact-us .section2 .line {
    border-width: 3px;
  }

  .contact-us .section2 .form-control {
    font-size: 14px;
  }

  .contact-us .section2 .btn {
    font-size: 14px;
  }

  .contact-us .section3 .carousel-inner {
    height: 100%;
  }

  .contact-us .section3 .carousel-inner img {
    aspect-ratio: 0;
  }

  .contact-us .section3 .carousel-inner h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
  }

  .contact-us .section3 .carousel-inner p {
    font-size: 14px;
    text-align: center;
    height: 7rem;
  }

  .contact-us .section3 .carousel-inner h3 {
    font-size: 16px;
    text-align: center;
  }

  .contact-us .section3 .carousel-inner h4 {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .contact-us .section3 .carousel-inner p {
    height: 200px;
  }
}

/* Contact Us End*/

/* snow animation Start*/
.snowflake {
  color: #0077b5;
  font-size: 1.2em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

/* snow animation End*/